*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(30, 38%, 92%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-layout{
    width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    overflow: hidden;
}

.card-img{
    width: 100%;
}

#mobile-img{
    display: none;
}

img{
    width: 100%;
    height: 100%;
}

.card-info{
    background-color: white;
    width: 100%;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.preview{
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 13px;
}

.title-header{
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    font-weight: 700;
    font-size: 19px;
    padding-right: 30px;
    line-height: 2.5rem;
}

.info{
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-weight: 500px;
    font-size: 14px;
    padding-right: 30px;
    margin-right: 30px;
    line-height: 1.5rem;
}

.price{
    display: flex;
    align-items: center;
}

.price h1{
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    padding-right: 20px;
}

.price h2{
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    text-decoration: line-through;
    margin-right: 30px;
    font-size: 13px;
}

.button{
    display: flex;
    align-items: center;
    align-content: center;
}

.button button{
    width: 78%;
    background-color: hsl(158, 36%, 37%);
    color: white;
    border: none;
    height: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.button img{
    width: 15px;
    height: 15px;
}

.button button:active{
    background-color: hsl(158, 37%, 26%);
}

@media screen and (max-width: 640px){
    body{
        min-height: 720px;
    }
    img{
        display: none;
    }
    #mobile-img{
        display: block;
    }
    .card-layout{
        grid-template-columns: 1fr;
        max-width: 355px;
    }

    .card-info{
        gap: 20px;
    }

    .title-header {
        font-weight: 700;
        font-size: 17px;
        margin-right: 40px;
        padding-right: 0px;
    }

    .button button{
        width: 83%;
    }

    .button img {
        display: block;
        width: 15px;
        height: 15px;
    }
}

.attribution {
    position: absolute;
    right: 10px;
    bottom: 0.1px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}